@using IntelliTect.Coalesce.Knockout.Helpers

@{ ViewBag.Fluid = true; }

<style>
    .card-view-header {
        padding: 10px 15px;
    }
</style>

<div class="card-view obj-case">
    <div class="card-view-header">
        <div class="clearfix">
            <h1 style="display: inline-block">
                Case List
                <span style="font-size: .5em; padding-left: 20px;"><a href="~/Case/Docs">API Docs</a></span>
            </h1>
        </div>
        <div class="clearfix">
            <div style="display: inline-block; font-size: 1.1em; margin-right: 10px;">
                <i class="fa fa-arrow-circle-left" data-bind="enabled: previousPageEnabled() && !isLoading(), click: previousPage"></i>
                Page
                <input data-bind="value: page" style="width: 35px">
                of
                <span data-bind="text: pageCount"></span>
                <i class="fa fa-arrow-circle-right" data-bind="enabled: nextPageEnabled() && !isLoading(), click: nextPage"></i>
            </div>
            <select class="form-control" style="width: 100px; display: inline-block;" data-bind="value: pageSize">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <input class="form-control pull-right" style="width: 250px; margin-left: 20px" data-bind="textInput: search" placeholder="Search" />
            <div class="btn-group pull-right">
                <a href="~/Case/CreateEdit?@(ViewBag.Query)" role="button" class="btn btn-sm btn-default "><i class="fa fa-plus"></i> Create</a>
                <button data-bind="click:load" class="btn btn-sm btn-default "><i class="fa fa-refresh"></i> Refresh</button>
                <a href="#" role="button" class="btn btn-sm btn-default " data-bind="attr:{href: downloadAllCsvUrl}"><i class="fa fa-download"></i> CSV</a>
                <button role="button" class="btn btn-sm btn-default " data-bind="click: csvUploadUi"><i class="fa fa-upload"></i> CSV</button>
            </div>
        </div>
    </div>
    
    <hr />
    
    <div class="flex-card-container card-view-body" style="display: none" data-bind="foreach: items, visible: isLoaded">
        <div class="flex-card">
            <div class="card-heading">
                <h3 class="card-title">
                    <span data-bind="text: title"></span>
                </h3>
            </div>
            <div class="card-body flex">
                <dl>
                    <dt>Title</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.Title, false))
                    </dd>
                    <dt>Description</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.Description, false))
                    </dd>
                    <dt>Opened At</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.OpenedAt, false))
                    </dd>
                    <dt>Assigned To</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.AssignedTo, false))
                    </dd>
                    <dt>Reported By</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.ReportedBy, false))
                    </dd>
                    <dt>Image Name</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.ImageName, false))
                    </dd>
                    <dt>Attachment Name</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.AttachmentName, false))
                    </dd>
                    <dt>Severity</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.Severity, false))
                    </dd>
                    <dt>Status</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.Status, false))
                    </dd>
                    <dt>Case Products</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.CaseProducts, false))
                    </dd>
                    <dt>Dev Team Assigned Id</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.DevTeamAssignedId, false))
                    </dd>
                    <dt>Dev Team Assigned</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.DevTeamAssigned, false))
                    </dd>
                    <dt>Duration</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.Duration, false))
                    </dd>
                </dl>
                
                <div style="margin-top: auto">
                    <!-- Editor buttons -->
                    <div class="pull-right" role="group">
                        <a class="btn btn-sm btn-default" data-bind="attr: { href: editUrl }">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button class="btn btn-sm btn-danger" data-bind="click: deleteItemWithConfirmation">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                    <span class="form-control-static" data-bind="text: errorMessage"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-heading">
        <h3 class="card-title">Actions</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 20%;">Action</th>
                    <th style="width: 50%;">Result</th>
                    <th style="width: 20%;">Successful</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="with: getSomeCases">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ invoke() }">
                            Get Some Cases
                        </button>
                    </td>
                    <td>
                        <ul data-bind="foreach: result">
                            <li data-bind="text: $data"></li>
                        </ul>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
                <tr data-bind="with: getAllOpenCasesCount">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ invoke() }">
                            Get All Open Cases Count
                        </button>
                    </td>
                    <td>
                        <span data-bind="text: result"></span>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
                <tr data-bind="with: randomizeDatesAndStatus">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ invoke() }">
                            Randomize Dates And Status
                        </button>
                    </td>
                    <td>
                        <span data-bind="text: result"></span>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
                <tr data-bind="with: getCaseSummary">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ invoke() }">
                            Get Case Summary
                        </button>
                    </td>
                    <td>
                        <dl class="dl-horizontal" data-bind="with: result">
                            <dt>Case Summary Id</dt>
                            <dd data-bind="text: caseSummaryId"></dd>
                            <dt>Open Cases</dt>
                            <dd data-bind="text: openCases"></dd>
                            <dt>Case Count</dt>
                            <dd data-bind="text: caseCount"></dd>
                            <dt>Close Cases</dt>
                            <dd data-bind="text: closeCases"></dd>
                            <dt>Description</dt>
                            <dd data-bind="text: description"></dd>
                        </dl>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        @if (!ViewBag.Editable)
        {
            @:Coalesce.GlobalConfiguration.viewModel.setupValidationAutomatically(false);
        }
        var caseList = new ListViewModels.CaseList();
        
        // Set up parent info based on the URL.
        @if (ViewBag.Query != null)
        {
            @:caseList.queryString = "@(ViewBag.Query)";
        }
        
        // Save and restore values from the URL:
        var urlVariables = ['page', 'pageSize', 'search', 'orderBy', 'orderByDescending'];
        $.each(urlVariables, function(){
            var param = Coalesce.Utilities.GetUrlParameter(this);
            if (param) {caseList[this](param);}
        })
        caseList.isLoading.subscribe(function(){
            var newUrl = window.location.href;
        
            $.each(urlVariables, function(){
                var param = caseList[this]();
                newUrl = Coalesce.Utilities.SetUrlParameter(newUrl, this, param);
            })
            history.replaceState(null, document.title, newUrl);
        });
        
        caseList.isSavingAutomatically = false;
        ko.applyBindings(caseList);
        caseList.isSavingAutomatically = true;
        
        caseList.includes = "CaseListGen";
        caseList.load();
    </script>
}
