@page
@using Microsoft.AspNetCore.Authentication
@model Coalesce.Starter.Vue.Web.Pages.SignInModel
@inject IAuthenticationSchemeProvider schemeProvider

@{
    var externalLogins = (await schemeProvider.GetAllSchemesAsync()).Where(s => s.DisplayName != null);

    ViewData["Title"] = "Sign In";
}

@*#if TenantMemberInvites *@
@if (Model.ReturnUrl?.StartsWith("/invitation") == true)
{
    <div class="alert alert-primary" role="alert">
        You have been invited to join an organization!
        <br />
        Sign in or create an account to continue.
    </div>
}
@*#endif *@
@*#if LocalAuth *@
<form method="post" class="d-grid gap-2 mt-3">
    <input type="hidden" name="@nameof(Model.ReturnUrl)" value="@Model.ReturnUrl" />

    <div>
        <label asp-for="Username" class="form-label" autocomplete="username"></label>
        <input asp-for="Username" class="form-control" autofocus required  />
    </div>
    <div>
        <label asp-for="Password" class="form-label" autocomplete="current-password"></label>
        <input asp-for="Password" class="form-control" required />
    </div>

    <div asp-validation-summary="All" class="text-danger" style="margin-bottom: -0.5rem"></div>

    <button type="submit" class="btn btn-primary rounded-pill">Sign in</button>

    <div class="d-flex gap-2 mt-2 justify-content-center">
        <a asp-page="Register">Sign up</a>
        •
        <a asp-page="ForgotPassword">Forgot Password</a>
    </div>
</form>
@if (externalLogins.Any())
{
    <hr class="my-4" />
}
@*#endif *@
@if (externalLogins.Any())
{
    <form method="post" asp-page="ExternalLogin">
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="d-grid gap-3">
            @foreach (var provider in externalLogins)
            {
                <button type="submit" name="provider" value="@provider.Name" title="Log in with @provider.DisplayName" class="btn btn-outline-dark rounded-pill">
                    <img src="/@provider.Name-logo.svg" />
                    Sign in with @provider.DisplayName
                </button>
            }
        </div>
    </form>
}