@page
@using Microsoft.AspNetCore.Authentication
@model Coalesce.Starter.Vue.Web.Pages.SignInModel
@inject IAuthenticationSchemeProvider schemeProvider

@{
    var externalLogins = (await schemeProvider.GetAllSchemesAsync()).Where(s => s.DisplayName != null);

    ViewData["Title"] = "Sign In";
}

@*#if TenantMemberInvites *@
@if (Model.ReturnUrl?.StartsWith("/invitation", StringComparison.OrdinalIgnoreCase) == true)
{
    <div class="alert alert-primary limit-width" role="alert">
        You have been invited to join an organization! Sign in or create an account to continue.
    </div>
}
@*#endif *@
@*#if LocalAuth *@
<form method="post" class="d-grid gap-2 mt-3">
    <input type="hidden" name="@nameof(Model.ReturnUrl)" value="@Model.ReturnUrl" />

    <div>
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" autocomplete="username webauthn" autofocus />
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" autocomplete="current-password" />
    </div>

    <div asp-validation-summary="All" class="text-danger" style="margin-bottom: -0.5rem"></div>

    <button type="submit" class="btn btn-primary rounded-pill">Sign in</button>

    @*#if Passkeys *@
    <div class="d-flex flex-column">
        <button type="submit" formnovalidate name="__passkeySubmit" class="btn btn-link mx-auto">Sign in with a
            passkey</button>
        <passkey-submit name="Passkey" email-name="Username">
        </passkey-submit>
    </div>
    @*#endif *@

    <div class="d-flex gap-2 mt-2 justify-content-center">
        <a asp-page="Register" asp-route-ReturnUrl="@Model.ReturnUrl">Sign up</a>
        •
        <a asp-page="ForgotPassword">Forgot Password</a>
    </div>
</form>
@if (externalLogins.Any())
{
    <hr class="my-4" />
}
@*#endif *@
@if (externalLogins.Any())
{
    <form method="post" asp-page="ExternalLogin">
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="d-grid gap-3">
            @foreach (var provider in externalLogins)
            {
                <button type="submit" name="provider" value="@provider.Name" title="Sign in with @provider.DisplayName"
                    class="btn btn-outline-dark rounded-pill">
                    <img src="/@provider.Name.ToLower()-logo.svg" />
                    Sign in with @provider.DisplayName
                </button>
            }
        </div>
    </form>
}
@*#if (!LocalAuth) *@
@if (!externalLogins.Any())
{
    <div class="alert alert-primary text-center" role="alert">
        No external login providers have been configured, and local accounts were not added from the project template.
        <br>
        You will need to <a href="https://learn.microsoft.com/en-us/aspnet/core/security/authentication/social">setup some
            other login provider</a>.
    </div>
}
@*#endif *@

@*#if Passkeys *@
@section Scripts {
    <script src="/passkey.js"></script>
}
@*#endif *@