@page "/sign-in"
@using Microsoft.AspNetCore.Authentication
@model Coalesce.Starter.Vue.Web.Pages.SignInModel
@inject IAuthenticationSchemeProvider schemeProvider

@{
    var externalLogins = (await schemeProvider.GetAllSchemesAsync()).Where(s => s.DisplayName != null);

    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Sign In";
}

<form method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <input type="hidden" name="@nameof(Model.ReturnUrl)" value="@Model.ReturnUrl" />
    @foreach (var provider in externalLogins)
    {
        <button type="submit" name="provider" value="@provider.Name" title="Log in with @provider.DisplayName">
            <img src="/@provider.Name-logo.svg" />
            Sign in with @provider.DisplayName
        </button>
    }
</form>
