@page "/sign-in"
@using Microsoft.AspNetCore.Authentication
@model Coalesce.Starter.Vue.Web.Pages.SignInModel
@inject IAuthenticationSchemeProvider schemeProvider

@{
    var externalLogins = (await schemeProvider.GetAllSchemesAsync()).Where(s => s.DisplayName != null);
}

<html>

<head>
    <title>Sign In</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <style>
        :root {
            line-height: 1.5;
            font-weight: 400;
            background: #28292f;
        }

        .card {
            background: #f9f9f9;
            color: #1F1F1F;
            padding: 1.5em;
            margin: auto;
            text-align: center;
            margin-top: 20vh;
            border-radius: 8px;
            box-shadow: 0px 0px 20px 13px #00000066;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            margin: 0;
            display: flex;
            place-items: center;
            min-width: 320px;
            min-height: 70vh;
        }

        form {
            margin: 0;
        }

        button {
            font-family: inherit;
            font-size: 1em;
            display: flex;
            align-items: center;
            margin-top: 1em;
            border-radius: 80px;
            padding: 10px 12px;
            padding-right: 16px;
            font-weight: 500;
            background-color: #fff;
            color: #1F1F1F;
            border: 1px solid #747775;
            line-height: 1;
            width: 100%;
            cursor: pointer;
            transition: all 0.2s ease
        }

            button img {
                margin-right: 10px;
                height: 20px
            }

            button:hover {
                background-color: #eee;
            }

            button:focus,
            button:focus-visible {
                outline: 4px auto -webkit-focus-ring-color;
            }
    </style>
</head>

<body>
    <div class="card">
        <div style="display: flex; font-size: 1.8em; align-items: center; justify-content: center; margin-bottom: 1em">
            @* <img src="/favicon.svg" style="height: 1.3em; padding-right: 0.2em" /> *@
            Sign In
        </div>

        <form method="post" class="form-horizontal">
            @Html.AntiForgeryToken()
            <input type="hidden" name="@nameof(Model.ReturnUrl)" value="@Model.ReturnUrl" />
            @foreach (var provider in externalLogins)
            {
                <button type="submit" name="provider" value="@provider.Name" title="Log in with @provider.DisplayName">
                    <img src="/@provider.Name-logo.svg" />
                    Sign in with @provider.DisplayName
                </button>
            }
        </form>
    </div>
</body>

</html>
