@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using IntelliTect.Coalesce.TypeDefinition
@using IntelliTect.Coalesce.CodeGeneration.Documentation
@{
    DocumentationViewModel model = Model;
}
<style>
    .bold {
        font-weight:bold;
    }
    ul.attributeList {
        list-style: none;
    }
    ul.attributeList ul {
        list-style: none;
        padding-left: 20px;
    }
    .validValues {
        padding-left: 10px;
    }
</style>
<div class="container">
    <h2>Attributes</h2>
    <ul class="attributeList">
        @foreach (AttributeInfo attributeInfo in model.Attributes)
        {
        <li>
            <div><span class="bold">@attributeInfo.Name</span>@attributeInfo.Signature</div>
            <div>@attributeInfo.Comment</div>
            @if (!string.IsNullOrWhiteSpace(attributeInfo.ValidValues))
            {
            <div class="validValues"><span class="bold">Valid Values:</span> @attributeInfo.ValidValues</div>
            }
        </li>
        }
    </ul>
    <h2>Interfaces</h2>
    <ul class="attributeList">
        @foreach (InterfaceInfo interfaceInfo in model.Interfaces)
        {
        <li>
            <div><span class="bold">@interfaceInfo.Name</span></div>
            @*<div>@attributeInfo.Comment</div>*@
            <ul>
                @if (interfaceInfo.Properties.Count() > 0)
                {
                <li class="bold">Properties</li>
                @foreach (string property in interfaceInfo.Properties)
                {
                <li>@property</li>
                }
                }
                @if (interfaceInfo.Methods.Count() > 0)
                {
                <li class="bold">Methods</li>
                @foreach (string method in interfaceInfo.Methods)
                {
                <li>@method</li>
                }
                }
            </ul>
        </li>
        }
    </ul>
    <h2>Base Controllers</h2>
    <ul class="attributeList">
        @foreach (BaseControllerInfo baseControllerInfo in model.BaseControllers)
        {
            <li>
                <div><span class="bold">@baseControllerInfo.Name</span></div>
                <ul>
                    @if (baseControllerInfo.Properties.Count() > 0)
                    {
                    <li class="bold">Properties</li>
                    @foreach (string property in baseControllerInfo.Properties)
                    {
                        <li>@property</li>
                    }
                    }
                    @if (baseControllerInfo.Methods.Count() > 0)
                    {
                    <li class="bold">Methods</li>

                    @foreach (string method in baseControllerInfo.Methods)
                    {
                        <li>@method</li>
                    }
                    }
                </ul>
            </li>
        }
    </ul>
    <h2>Models</h2>
    <ul class="attributeList">
        @foreach (ModelInfo modelInfo in model.Models)
        {
            <li>
                <div><span class="bold">@modelInfo.Name</span></div>
                <ul>
                    @if (modelInfo.Properties.Count() > 0)
                    {
                    <li class="bold">Properties</li>
                    @foreach (string property in modelInfo.Properties)
                    {
                    <li>@property</li>
                    }
                    }
                    @if (modelInfo.Methods.Count() > 0)
                    {
                    <li class="bold">Methods</li>
                    @foreach (string method in modelInfo.Methods)
                    {
                    <li>@method</li>
                    }
                    }
                </ul>
            </li>
        }
    </ul>
</div>