@using IntelliTect.Coalesce.DataAnnotations
@using IntelliTect.Coalesce.Helpers
@using System.Linq
@using IntelliTect.Coalesce.TypeDefinition
@using IntelliTect.Coalesce.Utilities

@{ ClassViewModel model = Model;}
<div class="form-horizontal">
    @foreach (var prop in model.Properties.Where(f => !f.IsHidden(HiddenAttribute.Areas.Edit) && f.SecurityInfo.IsReadable(User)).OrderBy(f => f.EditorOrder))
    {
        if (ViewBag.SimpleEditorOnly == null || ViewBag.SimpleEditorOnly == false ||
                        (prop.IsManytoManyCollection == prop.Type.IsCollection))
        {
            if (prop.IsComplexType)
            {
                <div class="panel panel-default" data-bind="with: @prop.JsVariable">
                    <div class="panel-heading">
                        <h4>@prop.DisplayName</h4>
                    </div>
                    <div class="panel-body">
                        <!-- Properties  -->
                        @foreach (var subProp in prop.Object.Properties.Where(f => !f.IsHidden(HiddenAttribute.Areas.Edit)).OrderBy(f => f.EditorOrder))
                        {
                            <div class="form-group">
                                <label class="col-md-4 control-label">@subProp.DisplayName</label>
                                <div class="col-md-8">
                                    @Display.Property(subProp, true)
                                    @*@Editors.DisplayOrEdit(subProp, true, false)*@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">@prop.DisplayName</label>
                    <div class="col-md-8">
                        @Display.Property(prop, prop.SecurityInfo.IsEditable(User))
                        @*@Editors.DisplayOrEdit(prop, true, false)*@
                    </div>
                </div>
            }
        }
    }

    @if (model.Methods.Any(f=>f.SecurityInfo.IsExecutable(User) && !f.IsStatic && f.IsClientMethod))
    {
    <div class="row">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Actions</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-2">Action</label>
                        <label class="col-md-4">Result</label>
                        <label class="col-md-2">Was Successful</label>
                        <label class="col-md-2">Loading</label>
                        <label class="col-md-2 bold">Notes</label>
                    </div>
                    @foreach (MethodViewModel method in model.Methods.Where(f => f.SecurityInfo.IsExecutable(User) && !f.IsStatic && f.IsClientMethod))
                        {
                        <div class="form-group form-horizontal">
                            <div class="col-md-2">
                                <button class="btn btn-default" data-bind="click: @method.JsVariableUi">@method.Name.ToProperCase()</button>
                            </div>
                            <div class="col-md-4 control-label">
                                <span class="" data-bind="text: @method.JsVariableResult"></span>
                            </div>
                            <div class="col-md-2 control-label">
                                <span class="" data-bind="text: @method.JsVariableWasSuccessful"></span>
                                <span class="" data-bind="visible: @(method.JsVariableWasSuccessful)(), text: @method.JsVariableMessage"></span>
                            </div>
                            <div class="col-md-2 control-label">
                                <span class="label label-info" data-bind="fadeVisible: @(method.JsVariableIsLoading)()">Loading</span>
                            </div>
                            <div class="col-md-2 align-right control-label" style="font-size:.7em;">
                                Modifies @(model.Name)
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
    }

</div>
