@using IntelliTect.Coalesce.Knockout.Helpers

<style>
    img.form-control-static {
        max-width: 100px;
        max-height: 100px;
    }
    .coalesce-upload-icon {
        cursor: pointer;
    }
</style>
<div class="card">
    <div class="card-heading">
        <div class="btn-group pull-right">
            <button onclick="window.history.back()" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i> Back</button>
            <button data-bind="click:function() { load(); }" class="btn btn-xs btn-default"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
        <h1 class="card-title clearfix" style="display:inline-block;">Case</h1>
        <span class="label label-info" data-bind="fadeVisible: isLoading()">Loading...</span>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group btn-warning" style="display: none" data-bind="if: errorMessage(), visible: errorMessage()">
                <label class="col-md-4 control-label">Error</label>
                <div class="col-md-8">
                    <div class="form-control-static" data-bind="text: errorMessage"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Title</label>
                <div class="col-md-8 prop-title">@(Knockout.InputFor<Coalesce.Domain.Case>(p => p.Title))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-8 prop-description">@(Knockout.InputFor<Coalesce.Domain.Case>(p => p.Description))<p class='help-block'>User-provided description of the issue</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Opened At</label>
                <div class="col-md-8 prop-openedAt">@(Knockout.InputFor<Coalesce.Domain.Case>(p => p.OpenedAt))<p class='help-block'>Date and time when the case was opened</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Assigned To</label>
                <div class="col-md-7 prop-assignedTo">@(Knockout.SelectForObject<Coalesce.Domain.Case>(p => p.AssignedTo))</div>
                <div class="col-md-1" data-bind="with: assignedTo">
                    <a data-bind="attr: {href: editUrl}" class="btn btn-default pull-right"><i class="fa fa-ellipsis-h "></i></a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Reported By</label>
                <div class="col-md-7 prop-reportedBy">@(Knockout.SelectForObject<Coalesce.Domain.Case>(p => p.ReportedBy))<p class='help-block'>Person who originally reported the case</p></div>
                <div class="col-md-1" data-bind="with: reportedBy">
                    <a data-bind="attr: {href: editUrl}" class="btn btn-default pull-right"><i class="fa fa-ellipsis-h "></i></a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Attachment Size</label>
                <div class="col-md-8 prop-attachmentSize">@(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.AttachmentSize, false))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Attachment Name</label>
                <div class="col-md-8 prop-attachmentName">@(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.AttachmentName, false))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Attachment Type</label>
                <div class="col-md-8 prop-attachmentType">@(Knockout.InputFor<Coalesce.Domain.Case>(p => p.AttachmentType))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Attachment Hash</label>
                <div class="col-md-8 prop-attachmentHash">@(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.AttachmentHash, false))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Severity</label>
                <div class="col-md-8 prop-severity">@(Knockout.InputFor<Coalesce.Domain.Case>(p => p.Severity))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-8 prop-status">@(Knockout.SelectFor<Coalesce.Domain.Case>(p => p.Status))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Case Products</label>
                <div class="col-md-8 prop-caseProducts">@(Knockout.SelectForManyToMany<Coalesce.Domain.Case>(p => p.CaseProducts))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Dev Team Assigned Id</label>
                <div class="col-md-8 prop-devTeamAssignedId">@(Knockout.InputFor<Coalesce.Domain.Case>(p => p.DevTeamAssignedId))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Dev Team Assigned</label>
                <div class="col-md-8 prop-devTeamAssigned">@(Knockout.DisplayFor<Coalesce.Domain.Case>(p => p.DevTeamAssigned, false))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Duration</label>
                <div class="col-md-8 prop-duration">@(Knockout.InputFor<Coalesce.Domain.Case>(p => p.Duration))</div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-heading">
        <h3 class="card-title">Actions</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 20%;">Action</th>
                    <th style="width: 50%;">Result</th>
                    <th style="width: 20%;">Successful</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="with: uploadImage">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ $('#method-UploadImage').modal() }">
                            Upload Image
                        </button>
                    </td>
                    <td>
                        <span data-bind="text: result"></span>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
                <tr data-bind="with: downloadImage">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ invoke() }">
                            Download Image
                        </button>
                    </td>
                    <td>
                        
                <!-- ko if: resultObjectUrl() -->
                <span style="font-family: monospace">
                    <span data-bind="text: result().name"></span> • 
                    <span data-bind="text: result().type"></span> • 
                    <span data-bind="text: result().size.toLocaleString()"></span> bytes
                </span>
                <!-- ko if: result().type.indexOf('video', 0) >= 0 -->
                <video style="max-width: 100%" data-bind="attr: {src: resultObjectUrl }" controls>
                </video>
                <!-- /ko -->
                <!-- ko if: result().type.indexOf('image', 0) >= 0 -->
                <img style="max-width: 100%; max-height: 300px" data-bind="attr: {src: resultObjectUrl }" />
                <!-- /ko -->
                <!-- /ko -->
            
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
                <tr data-bind="with: uploadAndDownload">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ $('#method-UploadAndDownload').modal() }">
                            Upload And Download
                        </button>
                    </td>
                    <td>
                        
                <!-- ko if: resultObjectUrl() -->
                <span style="font-family: monospace">
                    <span data-bind="text: result().name"></span> • 
                    <span data-bind="text: result().type"></span> • 
                    <span data-bind="text: result().size.toLocaleString()"></span> bytes
                </span>
                <!-- ko if: result().type.indexOf('video', 0) >= 0 -->
                <video style="max-width: 100%" data-bind="attr: {src: resultObjectUrl }" controls>
                </video>
                <!-- /ko -->
                <!-- ko if: result().type.indexOf('image', 0) >= 0 -->
                <img style="max-width: 100%; max-height: 300px" data-bind="attr: {src: resultObjectUrl }" />
                <!-- /ko -->
                <!-- /ko -->
            
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
                <tr data-bind="with: uploadImages">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ $('#method-UploadImages').modal() }">
                            Upload Images
                        </button>
                    </td>
                    <td>
                        <span data-bind="text: result"></span>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
                <tr data-bind="with: uploadByteArray">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ $('#method-UploadByteArray').modal() }">
                            Upload Byte Array
                        </button>
                    </td>
                    <td>
                        <span data-bind="text: result"></span>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for method: UploadImage -->
<div class="modal fade" id="method-UploadImage" tabindex="-1" role="dialog" data-bind="with: uploadImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Upload Image</h4>
            </div>
            <div class="modal-body form-horizontal" data-bind="with: args">
                <div class="form-group">
                    <label class='col-md-4 control-label'>File</label>
                    <div class="col-md-8">
                        <input type="file" data-bind="fileInput: file" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                <button type='button' class='btn btn-primary btn-ok'
                    data-bind="click: invokeWithArgs.bind(this, args, function(){jQuery($element).closest('.modal').modal('hide')})">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for method: UploadAndDownload -->
<div class="modal fade" id="method-UploadAndDownload" tabindex="-1" role="dialog" data-bind="with: uploadAndDownload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Upload And Download</h4>
            </div>
            <div class="modal-body form-horizontal" data-bind="with: args">
                <div class="form-group">
                    <label class='col-md-4 control-label'>File</label>
                    <div class="col-md-8">
                        <input type="file" data-bind="fileInput: file" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                <button type='button' class='btn btn-primary btn-ok'
                    data-bind="click: invokeWithArgs.bind(this, args, function(){jQuery($element).closest('.modal').modal('hide')})">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for method: UploadImages -->
<div class="modal fade" id="method-UploadImages" tabindex="-1" role="dialog" data-bind="with: uploadImages">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Upload Images</h4>
            </div>
            <div class="modal-body form-horizontal" data-bind="with: args">
                <div class="form-group">
                    <label class='col-md-4 control-label'>Files</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" data-bind="value: files" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                <button type='button' class='btn btn-primary btn-ok'
                    data-bind="click: invokeWithArgs.bind(this, args, function(){jQuery($element).closest('.modal').modal('hide')})">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for method: UploadByteArray -->
<div class="modal fade" id="method-UploadByteArray" tabindex="-1" role="dialog" data-bind="with: uploadByteArray">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Upload Byte Array</h4>
            </div>
            <div class="modal-body form-horizontal" data-bind="with: args">
                <div class="form-group">
                    <label class='col-md-4 control-label'>File</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" data-bind="value: file" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                <button type='button' class='btn btn-primary btn-ok'
                    data-bind="click: invokeWithArgs.bind(this, args, function(){jQuery($element).closest('.modal').modal('hide')})">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
<script>
    var model = new ViewModels.Case();
    model.includes = "Editor";
    model.saveCallbacks.push(function(obj){
        // If there is a new id, set the one for this page
        if (!Coalesce.Utilities.GetUrlParameter('id')){
            if (model.myId) {
                var newUrl = Coalesce.Utilities.SetUrlParameter(window.location.href, "id", model.myId);
                window.history.replaceState(null, window.document.title, newUrl);
            }
        }
    });
    model.downloadImage.url.extend({ throttle: 1 }).subscribe(() => model.myId && model.downloadImage.invoke(undefined, false))
    @if (ViewBag.Id != null)
    {
        @:model.load('@ViewBag.Id');
    }
    @foreach (KeyValuePair<string, Microsoft.Extensions.Primitives.StringValues> kvp in ViewBag.ParentIds)
    {
        @:model.@(((string)(@kvp.Key)))(@kvp.Value);
    }
    
    window.onbeforeunload = function(){
        if (model.isDirty()) model.save();
    }
    model.coalesceConfig.autoSaveEnabled(false);
    model.loadChildren(function() {
        ko.applyBindings(model, document.body);
        model.coalesceConfig.autoSaveEnabled(true);
    });
</script>
}
