@using IntelliTect.Coalesce.Knockout.Helpers

@{ ViewBag.Fluid = true; }

<style>
    .card-view-header {
        padding: 10px 15px;
    }
    img.form-control-static {
        max-width: 100px;
        max-height: 100px;
    }
    .coalesce-upload-icon {
        cursor: pointer;
    }
</style>

<div class="card-view obj-company">
    <div class="card-view-header">
        <div class="clearfix">
            <h1 style="display: inline-block">
                Company List
                <span style="font-size: .5em; padding-left: 20px;"><a href="~/Company/Docs">API Docs</a></span>
            </h1>
        </div>
        <div class="clearfix">
            <div style="display: inline-block; font-size: 1.1em; margin-right: 10px;">
                <i class="fa fa-arrow-circle-left" data-bind="enabled: previousPageEnabled() && !isLoading(), click: previousPage"></i>
                Page
                <input data-bind="value: page" style="width: 35px">
                of
                <span data-bind="text: pageCount"></span>
                <i class="fa fa-arrow-circle-right" data-bind="enabled: nextPageEnabled() && !isLoading(), click: nextPage"></i>
            </div>
            <select class="form-control" style="width: 100px; display: inline-block;" data-bind="value: pageSize">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <input class="form-control pull-right" style="width: 250px; margin-left: 20px" data-bind="textInput: search" placeholder="Search" />
            <div class="btn-group pull-right">
                <button data-bind="click:load" class="btn btn-sm btn-default "><i class="fa fa-refresh"></i> Refresh</button>
                <a href="#" role="button" class="btn btn-sm btn-default " data-bind="attr:{href: downloadAllCsvUrl}"><i class="fa fa-download"></i> CSV</a>
            </div>
        </div>
    </div>
    
    <hr />
    
    <div class="flex-card-container card-view-body" style="display: none" data-bind="foreach: items, visible: isLoaded">
        <div class="flex-card">
            <div class="card-heading">
                <h3 class="card-title">
                    <span data-bind="text: altName"></span>
                </h3>
            </div>
            <div class="card-body flex">
                <dl>
                    <dt>Name</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.Name, false))
                    </dd>
                    <dt>Address1</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.Address1, false))
                    </dd>
                    <dt>Address2</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.Address2, false))
                    </dd>
                    <dt>City</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.City, false))
                    </dd>
                    <dt>State</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.State, false))
                    </dd>
                    <dt>Zip Code</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.ZipCode, false))
                    </dd>
                    <dt>Is Deleted</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.IsDeleted, false))
                    </dd>
                    <dt>Employees</dt>
                    <dd>
                        <a data-bind='attr: {href: employeesListUrl}, text: employees().length + " - Edit"' class='btn btn-default btn-sm'></a>
                    </dd>
                    <dt>Alt Name</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Company>(p => p.AltName, false))
                    </dd>
                </dl>
                
                <div style="margin-top: auto">
                    <!-- Editor buttons -->
                    <div class="pull-right" role="group">
                        <a class="btn btn-sm btn-default" data-bind="attr: { href: editUrl }">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button class="btn btn-sm btn-danger" data-bind="click: deleteItemWithConfirmation">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                    <span class="form-control-static" data-bind="text: errorMessage"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-heading">
        <h3 class="card-title">Actions</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 20%;">Action</th>
                    <th style="width: 50%;">Result</th>
                    <th style="width: 20%;">Successful</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="with: getCertainItems">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ $('#method-GetCertainItems').modal() }">
                            Get Certain Items
                        </button>
                    </td>
                    <td>
                        <ul data-bind="foreach: result">
                            <li data-bind="text: $data"></li>
                        </ul>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for method: GetCertainItems -->
<div class="modal fade" id="method-GetCertainItems" tabindex="-1" role="dialog" data-bind="with: getCertainItems">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Get Certain Items</h4>
            </div>
            <div class="modal-body form-horizontal" data-bind="with: args">
                <div class="form-group">
                    <label class='col-md-4 control-label'>Is Deleted</label>
                    <div class="col-md-8">
                        <input type='text' class='form-control' data-bind='value: isDeleted'>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                <button type='button' class='btn btn-primary btn-ok'
                    data-bind="click: invokeWithArgs.bind(this, args, function(){jQuery($element).closest('.modal').modal('hide')}, null)">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        @if (!ViewBag.Editable)
        {
            @:Coalesce.GlobalConfiguration.viewModel.setupValidationAutomatically(false);
        }
        var companyList = new ListViewModels.CompanyList();
        
        // Set up parent info based on the URL.
        @if (ViewBag.Query != null)
        {
            @:companyList.queryString = "@(ViewBag.Query)";
        }
        
        // Save and restore values from the URL:
        var urlVariables = ['page', 'pageSize', 'search', 'orderBy', 'orderByDescending'];
        $.each(urlVariables, function(){
            var param = Coalesce.Utilities.GetUrlParameter(this);
            if (param) {companyList[this](param);}
        })
        companyList.isLoading.subscribe(function(){
            var newUrl = window.location.href;
        
            $.each(urlVariables, function(){
                var param = companyList[this]();
                newUrl = Coalesce.Utilities.SetUrlParameter(newUrl, this, param);
            })
            history.replaceState(null, document.title, newUrl);
        });
        
        companyList.isSavingAutomatically = false;
        ko.applyBindings(companyList);
        companyList.isSavingAutomatically = true;
        
        companyList.includes = "CompanyListGen";
        companyList.load();
    </script>
}
