@using IntelliTect.Coalesce.Knockout.Helpers

<style>
    img.form-control-static {
        max-width: 75px;
        max-height: 75px;
    }
</style>
<div class="card">
    <div class="card-heading">
        <div class="btn-group pull-right">
            <button onclick="window.history.back()" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i> Back</button>
            <button data-bind="click:function() { load(); }" class="btn btn-xs btn-default"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
        <h1 class="card-title clearfix" style="display:inline-block;">Case Dto</h1>
        <span class="label label-info" data-bind="fadeVisible: isLoading()">Loading...</span>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group btn-warning" style="display: none" data-bind="if: errorMessage(), visible: errorMessage()">
                <label class="col-md-4 control-label">Error</label>
                <div class="col-md-8">
                    <div class="form-control-static" data-bind="text: errorMessage"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Title</label>
                <div class="col-md-8 prop-title">@(Knockout.InputFor<Coalesce.Domain.CaseDto>(p => p.Title))</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Assigned To Name</label>
                <div class="col-md-8 prop-assignedToName">@(Knockout.DisplayFor<Coalesce.Domain.CaseDto>(p => p.AssignedToName, false))</div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-heading">
        <h3 class="card-title">Actions</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 20%;">Action</th>
                    <th style="width: 50%;">Result</th>
                    <th style="width: 20%;">Successful</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="with: asyncMethodOnIClassDto">
                    <td>
                        <button class="btn btn-default btn-xs" data-bind="click: function(){ $('#method-AsyncMethodOnIClassDto').modal() }">
                            Async Method On I Class Dto
                        </button>
                    </td>
                    <td>
                        <span data-bind="text: result"></span>
                    </td>
                    <td>
                        <span data-bind="text: wasSuccessful"></span>
                        <span data-bind="text: message"></span>
                    </td>
                    <td>
                        <span class="label label-info" data-bind="fadeVisible: isLoading">Loading</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for method: AsyncMethodOnIClassDto -->
<div class="modal fade" id="method-AsyncMethodOnIClassDto" tabindex="-1" role="dialog" data-bind="with: asyncMethodOnIClassDto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Async Method On I Class Dto</h4>
            </div>
            <div class="modal-body form-horizontal" data-bind="with: args">
                <div class="form-group">
                    <label class='col-md-4 control-label'>Input</label>
                    <div class="col-md-8">
                        <input type='text' class='form-control' data-bind='value: input'>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                <button type='button' class='btn btn-primary btn-ok'
                    data-bind="click: invokeWithArgs.bind(this, args, function(){jQuery($element).closest('.modal').modal('hide')}, null)">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
<script>
    var model = new ViewModels.CaseDto();
    model.includes = "Editor";
    model.saveCallbacks.push(function(obj){
        // If there is a new id, set the one for this page
        if (!Coalesce.Utilities.GetUrlParameter('id')){
            if (model.myId) {
                var newUrl = Coalesce.Utilities.SetUrlParameter(window.location.href, "id", model.myId);
                window.history.replaceState(null, window.document.title, newUrl);
            }
        }
    });
    @if (ViewBag.Id != null)
    {
        @:model.load('@ViewBag.Id');
    }
    @foreach (var kvp in ViewBag.ParentIds)
    {
        @:model.@(((string)(@kvp.Key)))(@kvp.Value);
    }

    window.onbeforeunload = function(){
        if (model.isDirty()) model.save();
    }
    model.coalesceConfig.autoSaveEnabled(false);
    model.loadChildren(function() {
        ko.applyBindings(model);
        model.coalesceConfig.autoSaveEnabled(true);
    });
</script>
}
